<!DOCTYPE html>
{%extends 'base.html'%}
{%load crispy_forms_tags %}
{%block title%}
<title>Register</title>
{%endblock title%}
{%block body_block%}
<div class="container">
	<div class="container">
	{% for m in messages%}
	<div class="alert alert-info alert-dismissible fade show" role="alert">
  		{{m}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
	{%endfor%}







<form method="POST" class="col-6">

	{{register_form|crispy}}
	{%csrf_token%}
	<div class="container">
<button class="btn btn-primary">Register</button>
</form>
</div>
{%endblock%}